.NoDataState {
  height: 100%;
}

.NoDataState-cardBody {
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-items: center;
  text-align: left;
}

.NoDataState-headingText {
  color: var(--nr1--base-colors--ui--gray--6);
}

.NoDataState-bodyText {
  color: var(--nr1--base-colors--ui--gray--6);
}

.NoDataState-cardBody-background {
  padding: 2rem;
  max-width: 30rem;
  box-shadow: 0 0 4px var(--nr1--base-colors--ui--gray--4);
}