.Legend {
  overflow-y: scroll;

  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.Legend::-webkit-scrollbar {
  display: none;
}

.LegendItem {
  overflow: visible;
}

.LegendItem-content {
  display: flex;
  align-items: center;
}

.LegendItem-dot {
  flex-shrink: 0;
  width: 8px;
  height: 8px;
  margin-right: 4px;
  border-radius: 50%;
}

.LegendItem-label {
  flex-grow: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
