@import '../../src/error-state/styles.scss';
@import '../../src/styles.scss';

.ProgressBarChart {
  display: block;
}

.EmptyState {
  height: 100%;
  text-align: center;

  &-cardBody {
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
